<!doctype html>

<html lang="en"  xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>File Management</title>
    <meta name="description" content="A simple HTML5 Template for new projects.">
    <meta name="author" content="SitePoint">
    <meta property="og:title" content="A Basic HTML5 Template">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.sitepoint.com/a-basic-html5-template/">
    <meta property="og:description" content="A simple HTML5 Template for new projects.">
    <meta property="og:image" content="image.png">
    <link rel="icon" href="/favicon.ico">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">

    <!--<link rel="stylesheet" href="css/styles.css?v=1.0">-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
 <style>
     table,tr,th,td {
         border: 1px solid black;
     }
 </style>
</head>

<body>
<!-- your content here... -->
<div class="container">
    <div class="row row-no-gutters">
        <div class="col-sm-3 header" style="width:100%;">
            <h1>File Managements</h1>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="well well-lg" >
                <div class="col-sm-4" >
                    <button type="button" class="btn btn-default" >Setting</button>
                </div>
                <div class="col-sm-4">
                    <button type="button" class="btn btn-basic">Chọn tệp</button>
                </div>
                <div class="col-sm-4">
                    <button type="button" class="btn btn-primary">Upload</button>
                </div>

            </div>
            <table class="table table-dark">

                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                </tr>
                </tbody>

            </table>
            <div class="well well-lg">


            </div>
        </div>
        <div class="col-sm-2"></div>

    </div>


</div>
</body>
</html>